.courseItem {
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #d2d2d2;
}

.courseImage {
	height: 150px;
	width: 180px;
}

.courseImage img {
	height: 150px;
	width: 150px;
	margin-right: 30px;
}

.learnLink {
	text-decoration: none !important;
	color: inherit !important;
	cursor: pointer !important;
}

.courseDetails {
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	font-family: var(--font-openSans);
}

.courseDetails h3 {
	margin: 0;
	color: var(--font-main-color);
	font-weight: 600;
}

.offerBy {
	font-size: 12px;
	color: gray;
	padding-top: 10px;
	font-weight: 500;
}

.type {
	background: var(--bg-main);
	width: fit-content;
	padding: 2px 10px;
	margin-top: 5px;
	font-size: 14px;
}

.info {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.ratingEnroll {
	display: flex;
	align-items: center;
	color: var(--font-main-color);
}

.ratingText {
	font-size: 10px;
	font-weight: 700;
	margin-left: 10px;
}

.ratingCount {
	font-size: 12px;
	padding: 0px 10px;
	padding-left: 5px;
	font-weight: 300;
}

.enrolledCount {
	font-size: 14px;
	font-weight: 500;
	border-left: 1px solid;
	padding: 0px 10px;
}

.starIcon {
	color: #dcb800;
}

.level {
	font-size: 14px;
	padding: 10px 0px;
	font-weight: 500;
}

/* 
?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=fill&bg=FFF&q=25 */

@media only screen and (max-width: 600px) {
	.courseItem {
		padding: 10px 0px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #d2d2d2;
	}

	.type {
		display: none;
	}

	.courseImage {
		height: 100px;
		width: 100px;
		padding: 5px;
	}

	.courseImage img {
		height: 80%;
		width: 89%;
	}

	.level {
		font-size: 14px;
		padding: 5px 0px;
		font-weight: 500;
	}

	.courseDetails {
		margin-left: 10px;
	}

	.starIcon {
		color: #dcb800;
		font-size: 18px !important;
	}
}
