.cardContainer {
	background: gray;
	height: 380px;
	width: 260px !important;
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 0px 10px;
	transition: all 0.2s ease-in;
	margin: 14px;
	outline: 1px solid #dedede;
	font-family: var(--font-OpenSans);

	.cardImg {
		height: 150px;
		position: relative;
		z-index: 2;

		.coverImg {
			height: 100%;
			width: 100%;
		}

		.logo {
			position: absolute;
			bottom: -32px;
			height: 50px;
			width: 50px;
			border: 8px solid rgb(235, 235, 235);
			left: 25px;
			border-radius: 5px;
		}
	}

	&:hover {
		box-shadow: 3px 3px 8px rgba(73, 73, 73, 0.5),
			-3px 3px 8px rgba(80, 80, 80, 0.5);
	}

	.cardBody {
		background: white;
		position: relative;
		z-index: 0;
		height: -webkit-fill-available;

		.badge {
			background: #ffe057;
			position: absolute;
			right: 25px;
			top: 12px;
			font-size: 10px;
			padding: 2px 15px;
			font-weight: 600;
			border-radius: 50px;
			font-family: "Open Sans";
		}

		.courseName {
			font-size: 18px;
			font-family: "Open Sans";
			margin-top: 40px;
			/* position: absolute; */
			// left: 27px;
			// top: 5px;
			padding: 10px 27px;
			text-align: left;

			a {
				color: #0062e4;
				text-decoration: none;
				font-weight: 500;
				transition: all 0.2s ease-in;

				&:hover {
					color: rgb(53, 53, 131);
				}
			}
		}

		.offerBy {
			color: #3a3a3a;
			position: absolute;
			// margin-top: 90px;
			left: 27px;
			font-size: 14px;
			font-weight: 300;
		}

		.type {
			font-weight: 700;
			/* background: #a0a0a0; */
			color: #5a5959;
			position: absolute;
			bottom: 15px;
			left: 27px;
			/* padding: 3px 10px; */
			border-radius: 50px;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
}
