.lectureBody {
	overflow: auto;
	display: flex;
	text-align: left;
	flex-direction: column;
	width: 100%;
	padding: 10px 50px;
	font-family: "Open Sans";
	color: var(--font-main-color);
	min-height: 100vh;
	height: -webkit-fill-available;
	padding-bottom: 50px;

	@media only screen and (max-width: 600px) {
		margin: 0;
		padding: 0px;
	}

	.courseTitle {
		font-size: 22px;
		font-weight: 500;
		text-align: right;

		@media only screen and (max-width: 600px) {
			margin-top: 20px;
			padding: 20px 30px;
			padding-bottom: 10px;
			font-size: 25px;
			font-weight: 700;
		}
	}

	.offer_by {
		font-size: 14px;
		color: #848484;
		font-weight: 400;
		text-align: right;

		@media only screen and (max-width: 600px) {
			margin-top: 0;
			padding: 0px 30px;
			font-size: 16px;
			font-weight: 500;
		}
	}

	.weekWrapper {
		display: flex;
		flex-direction: column;
		padding: 0px 20px;

		.weekNumber {
			font-size: 26px;
			padding: 5px 0px;
			font-weight: 600;
			color: #404040;
			display: flex;
			align-items: center;

			@media only screen and (max-width: 600px) {
				margin-top: 0;
				padding: 19px 0px;
				font-size: 21px;
				font-weight: 600;
			}

			.weekCompleted {
				// color: green;
				color: #00c500;
				padding-right: 20px;
				font-size: 32px;

				@media only screen and (max-width: 600px) {
					padding-right: 10px;
				}
			}
		}

		.weekTitle {
			font-size: 16px;
			padding: 10px 0px;

			@media only screen and (max-width: 600px) {
				font-size: 18px;
			}
		}

		.player {
			margin-top: 20px;
			width: 100%;
			height: calc(100vw * 9 / 24);
			background: rgb(156, 179, 255);

			@media only screen and (max-width: 600px) {
				width: 90vw;
				height: 35vh;
			}
		}
	}
}
