.myCourseBodyWrapper {
	display: flex;
	flex-direction: column;
	background: var(--bg-main);
	padding-bottom: 50px;

	.emptySection {
		font-size: 20px;
		font-family: "Open Sans";
		text-transform: capitalize;
		padding: 50px;
		width: -webkit-fill-available;
		color: var(--font-main-color);
		font-weight: 100;
	}

	.myCourseBody {
		background: white;
		display: flex;
		flex-direction: row;
		margin: 10px 200px;
		padding: 20px;
		box-shadow: 3px 3px 10px #c1c1c1;

		@media only screen and (max-width: 600px) {
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
		}

		&:first-child {
			margin-top: 20px;
		}

		.coverImg {
			height: 100px;
			width: 100px;

			@media only screen and (max-width: 600px) {
				height: 60px;
				width: 60px;
				display: none;
			}
		}

		.bodyInfo {
			padding: 0px 32px;
			display: flex;
			flex-direction: column;
			font-family: "Open Sans";
			flex: 1;
			text-align: left;

			.offer_by {
				color: gray;
				font-size: 14px;

				@media only screen and (max-width: 600px) {
					display: none;
				}
			}

			.courseTitle {
				text-decoration: none;
				padding: 20px 0px;
				color: var(--main-color);
				font-size: 20px;
				font-weight: 600;

				@media only screen and (max-width: 600px) {
					font-size: 14px;
					font-weight: 500;
				}
			}
		}

		.gotoButton {
			width: 200px;
			display: flex;
			align-items: center;

			@media only screen and (max-width: 600px) {
				width: 71px;
			}

			.goToCourse {
				text-decoration: none;
				background: var(--main-color);
				color: white;
				padding: 15px 25px;
				font-family: "Open Sans";
				transition: all 0.2s ease-in;

				@media only screen and (max-width: 600px) {
					padding: 10px;
					border-radius: 10px;
				}

				&:hover {
					background: rgb(47, 47, 202);
				}
			}
		}
	}
}
